*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
    font-family: "Montserrat", sans-serif;
    
}


.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    flex: 1;
       
}



video{
    align-self: center;
    margin: 20px 20px;

}



